<main>
  <div class="container">
    <h1>{{ "pages.home.app-title" | translate }}</h1>
    <div class="switches">
      <app-theme-switch></app-theme-switch>
      <app-language-switch
        [language]="currentLanguage"
        (languageChange)="changeLanguage($event)"
      ></app-language-switch>
    </div>
    <label for="number"
      ><strong>{{ "pages.home.number-to-analyze" | translate }}:</strong></label
    >
    <input
      #numberInput
      type="number"
      [placeholder]="'pages.home.enter-a-number' | translate"
      (keydown.enter)="analyzeNumber(numberInput.value)"
      class="input-number"
    />
    <button class="btn btn-primary" (click)="analyzeNumber(numberInput.value)">
      {{ "pages.home.analyze" | translate }}
    </button>

    @if(numberInfo) {
    <h1>{{ numberInfo.value }}</h1>
    <div class="properties-container">
      <app-basic-num-properties
        [numberInfo]="numberInfo"
      ></app-basic-num-properties>

      <app-sequence-num-properties
        [numberInfo]="numberInfo"
      ></app-sequence-num-properties>

      <app-advanced-num-properties
        [numberInfo]="numberInfo"
      ></app-advanced-num-properties>

      <app-digit-based-operations
        [numberInfo]="numberInfo"
      ></app-digit-based-operations>

      <app-alternative-representations
        [numberInfo]="numberInfo"
      ></app-alternative-representations>

      <app-other-mathematical-operations
        [numberInfo]="numberInfo"
      ></app-other-mathematical-operations>
    </div>
    }
  </div>
  <app-footer></app-footer>
</main>
