:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
p {
  margin: 5px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container h1 {
  color: var(--primary);
  font-size: 64px;
  margin: 8px 0px 0px 0px;
}

.container label {
  color: var(--white);
  margin-bottom: 8px;
}

.container input {
  width: 50%;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
}
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number {
  -moz-appearance: textfield;
}

button {
  width: 25%;
  height: 25px;
}

.properties-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 0.75fr 0.75fr;
  align-items: start;
  justify-items: center;
}

@media (max-width: 750px) {
  .properties-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
