<div class="advanced_properties">
  <h2>
    {{ "components.number-related.advanced-num-properties.title" | translate }}
  </h2>
  <div class="advanced">
    <!-- PALINDROME -->
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.fibonacciSequence.palindrome
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="components.number-related.advanced-num-properties.palindrome.text"
      description="components.number-related.advanced-num-properties.palindrome.description"
    ></app-info-tooltip>
  </div>
  <!-- MERSENNE -->
  <div class="advanced">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.fibonacciSequence.mersenne
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="components.number-related.advanced-num-properties.mersenne.text"
      description="components.number-related.advanced-num-properties.mersenne.description"
    ></app-info-tooltip>
  </div>
  <!-- HARSHAD -->
  <div class="advanced">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.fibonacciSequence.palindrome
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="components.number-related.advanced-num-properties.harshad.text"
      description="components.number-related.advanced-num-properties.harshad.description"
    ></app-info-tooltip>
  </div>
</div>
