<h2>
  {{
    "components.number-related.alternative-representations.title" | translate
  }}:
</h2>
<div>
  <p>
    {{
      "components.number-related.alternative-representations.decimal"
        | translate
    }}:
    {{ numberInfo.alternativeRepresentationsInfo.decimal }}
  </p>

  <p>
    {{
      "components.number-related.alternative-representations.binary"
        | translate
    }}:
    {{ numberInfo.alternativeRepresentationsInfo.binary }}
  </p>
  <p>
    {{
      "components.number-related.alternative-representations.octal" | translate
    }}:
    {{ numberInfo.alternativeRepresentationsInfo.octal }}
  </p>
  <p>
    {{
      "components.number-related.alternative-representations.hexadecimal"
        | translate
    }}:
    {{ numberInfo.alternativeRepresentationsInfo.hexadecimal }}
  </p>
</div>
