<h2>
  {{ "components.number-related.basic-num-properties.title" | translate }}:
</h2>
<div>
  <div class="text-vector">
    <p>
      {{
        "components.number-related.basic-num-properties.divisors" | translate
      }}: {{ numberInfo.basicNumPropertiesInfo.divisors }}
    </p>
  </div>
  <p>
    {{
      "components.number-related.basic-num-properties.divisors-quantity"
        | translate
    }}:
    {{ numberInfo.basicNumPropertiesInfo.divisorsCount }}
  </p>
  <div class="text-vector">
    <p>
      {{
        "components.number-related.basic-num-properties.ten-first-multiples"
          | translate
      }}:
      {{ numberInfo.basicNumPropertiesInfo.tenFirstMultiples }}
    </p>
  </div>

  @if( numberInfo.basicNumPropertiesInfo.factorial != null){
  <p>
    {{
      "components.number-related.basic-num-properties.factorial.text"
        | translate
    }}:
    {{ numberInfo.basicNumPropertiesInfo.factorial }}
  </p>
  }@else {
  <p>
    {{
      "components.number-related.basic-num-properties.factorial.text"
        | translate
    }}:
    {{
      "components.number-related.basic-num-properties.factorial.error"
        | translate
    }}
  </p>
  }
  <p>
    {{ "components.number-related.basic-num-properties.parity" | translate }}:
    {{
      "components.number-related.basic-num-properties.parity-options." +
        numberInfo.basicNumPropertiesInfo.parity | translate
    }}
  </p>
  <div class="perfectAndPrime">
    <!-- PERFECT -->
    <div>
      <app-info-tooltip
        text="components.number-related.basic-num-properties.perfect.text"
        description="components.number-related.basic-num-properties.perfect.description"
      ></app-info-tooltip>
      <div class="condition">
        <div
          class="circle {{
            numberInfo.basicNumPropertiesInfo.perfect
              ? 'green_circle'
              : 'red_circle'
          }}"
        ></div>
      </div>
    </div>
    <!-- PRIME -->
    <div>
      <app-info-tooltip
        text="components.number-related.basic-num-properties.prime.text"
        description="components.number-related.basic-num-properties.prime.description"
      ></app-info-tooltip>
      <div
        class="circle {{
          numberInfo.basicNumPropertiesInfo.prime
            ? 'green_circle'
            : 'red_circle'
        }}"
      ></div>
    </div>
  </div>
</div>
