<h2>Basic Number Properties:</h2>
<div>
  <div class="text-vector">
    <p>Divisors: {{ numberInfo.basicNumPropertiesInfo.divisors }}</p>
  </div>
  <p>
    Divisors Quantity:
    {{ numberInfo.basicNumPropertiesInfo.divisorsCount }}
  </p>
  <div class="text-vector">
    <p>
      Ten First Multiples:
      {{ numberInfo.basicNumPropertiesInfo.tenFirstMultiples }}
    </p>
  </div>

  @if( numberInfo.basicNumPropertiesInfo.factorial != null){
  <p>Factorial: {{ numberInfo.basicNumPropertiesInfo.factorial }}</p>
  }@else {
  <p>Factorial: number is too big !</p>
  }
  <p>Parity: {{ numberInfo.basicNumPropertiesInfo.parity }}</p>
  <div class="perfectAndPrime">
    <!-- PERFECT -->
    <div>
      <app-info-tooltip
        text="Perfect"
        description="Perfect number is a positive integer that is equal to the sum of its factors except for the number itself."
      ></app-info-tooltip>
      <div class="condition">
        <div
          class="circle {{
            numberInfo.basicNumPropertiesInfo.perfect
              ? 'green_circle'
              : 'red_circle'
          }}"
        ></div>
      </div>
    </div>
    <!-- PRIME -->
    <div>
      <app-info-tooltip
        text="Prime"
        description="Prime number is a number greater than 1 that has exactly two distinct factors: 1 and itself."
      ></app-info-tooltip>
      <div
        class="circle {{
          numberInfo.basicNumPropertiesInfo.prime
            ? 'green_circle'
            : 'red_circle'
        }}"
      ></div>
    </div>
  </div>
</div>
