<div class="sequence_properties">
  <h2>Sequence Properties:</h2>
  <!-- FIBONACCI -->
  <div class="sequence">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.fibonacciSequence.isInFibonacci
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="Belongs to Fibonacci Sequence"
      description="Fibonacci Sequence is a sequence of numbers, starting with zero and one, is a steadily increasing series where each number is equal to the sum of the preceding two numbers."
    ></app-info-tooltip>
  </div>
  @if (numberInfo.sequencePropertiesInfo.fibonacciSequence.isInFibonacci) {
  <p>
    {{ numberInfo.value }}{{ ordinalSufix(numberInfo.value) }} number in the
    sequence:
    {{ numberInfo.sequencePropertiesInfo.fibonacciSequence.nthFibonacciTerm }}
  </p>
  <p>
    Position in the sequence:
    {{ numberInfo.sequencePropertiesInfo.fibonacciSequence.position }}
  </p>
  }
  <!-- TRIANGULAR -->
  <div class="sequence">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.triangularSequence.isInTriangular
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="Belongs to Triangular Sequence"
      description="Triangular Sequence is a sequence of numbers that can be represented in the form of an equilateral triangle when arranged in a series."
    ></app-info-tooltip>
  </div>
  @if (numberInfo.sequencePropertiesInfo.triangularSequence.isInTriangular) {
  <p>
    {{ numberInfo.value }}{{ ordinalSufix(numberInfo.value) }} number in the
    sequence:
    {{ numberInfo.sequencePropertiesInfo.triangularSequence.nthTriangularTerm }}
  </p>
  <p>
    Position in the sequence:
    {{ numberInfo.sequencePropertiesInfo.triangularSequence.position }}
  </p>
  }
  <!-- SQUARE -->
  <div class="sequence">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.squareSequence.isInSquare
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="Belongs to Square Sequence"
      description="Square Sequence is a sequence of numbers where each term is the square of the corresponding number on the number line."
    ></app-info-tooltip>
  </div>
  @if (numberInfo.sequencePropertiesInfo.squareSequence.isInSquare) {
  <p>
    {{ numberInfo.value }}{{ ordinalSufix(numberInfo.value) }} number in the
    sequence:
    {{ numberInfo.sequencePropertiesInfo.squareSequence.nthSquareTerm }}
  </p>
  <p>
    Position in the sequence:
    {{ numberInfo.sequencePropertiesInfo.squareSequence.position }}
  </p>
  }
</div>
