<div class="sequence_properties">
  <h2>
    {{ "components.number-related.sequence-properties.title" | translate }}:
  </h2>
  <!-- FIBONACCI -->
  <div class="sequence">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.fibonacciSequence.isInFibonacci
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="components.number-related.sequence-properties.fibonacci.text"
      description="components.number-related.sequence-properties.fibonacci.description"
    ></app-info-tooltip>
  </div>
  @if (numberInfo.sequencePropertiesInfo.fibonacciSequence.isInFibonacci) {
  <app-belongs-informations
    [value]="numberInfo.value"
    [nthTerm]="
      numberInfo.sequencePropertiesInfo.fibonacciSequence.nthFibonacciTerm
    "
    [position]="numberInfo.sequencePropertiesInfo.fibonacciSequence.position"
  />

  }
  <!-- TRIANGULAR -->
  <div class="sequence">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.triangularSequence.isInTriangular
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="components.number-related.sequence-properties.triangular.text"
      description="components.number-related.sequence-properties.triangular.description"
    ></app-info-tooltip>
  </div>
  @if (numberInfo.sequencePropertiesInfo.triangularSequence.isInTriangular) {
  <app-belongs-informations
    [value]="numberInfo.value"
    [nthTerm]="
      numberInfo.sequencePropertiesInfo.triangularSequence.nthTriangularTerm
    "
    [position]="numberInfo.sequencePropertiesInfo.triangularSequence.position"
  />

  }
  <!-- SQUARE -->
  <div class="sequence">
    <div
      class="circle {{
        numberInfo.sequencePropertiesInfo.squareSequence.isInSquare
          ? 'green_circle'
          : 'red_circle'
      }}"
    ></div>
    <app-info-tooltip
      text="components.number-related.sequence-properties.square.text"
      description="components.number-related.sequence-properties.square.description"
    ></app-info-tooltip>
  </div>
  @if (numberInfo.sequencePropertiesInfo.squareSequence.isInSquare) {
  <app-belongs-informations
    [value]="numberInfo.value"
    [nthTerm]="numberInfo.sequencePropertiesInfo.squareSequence.nthSquareTerm"
    [position]="numberInfo.sequencePropertiesInfo.squareSequence.position"
  />
  }
</div>
