<h2>
  {{
    "components.number-related.other-mathematical-operations.title" | translate
  }}:
</h2>
<div>
  <p>
    {{
      "components.number-related.other-mathematical-operations.square-root"
        | translate
    }}:
    {{
      numberInfo.otherMathematicalOperationsInfo.squareRoot | number : "1.0-4"
    }}
  </p>
  <p>
    {{
      "components.number-related.other-mathematical-operations.cube-root"
        | translate
    }}:
    {{ numberInfo.otherMathematicalOperationsInfo.cubeRoot | number : "1.0-4" }}
  </p>
  <p>
    {{
      "components.number-related.other-mathematical-operations.natural-logarithm"
        | translate
    }}:
    {{
      numberInfo.otherMathematicalOperationsInfo.naturalLogarithm
        | number : "1.0-4"
    }}
  </p>
  <p>
    {{
      "components.number-related.other-mathematical-operations.logarithm-base-ten"
        | translate
    }}:
    {{
      numberInfo.otherMathematicalOperationsInfo.logarithmBaseTen
        | number : "1.0-4"
    }}
  </p>
</div>
