<h2>Other Mathematical Operations:</h2>
<div>
  <p>
    Square Root:
    {{
      numberInfo.otherMathematicalOperationsInfo.squareRoot | number : "1.0-4"
    }}
  </p>
  <p>
    Cube Root:
    {{ numberInfo.otherMathematicalOperationsInfo.cubeRoot | number : "1.0-4" }}
  </p>
  <p>
    Natural Logarithm:
    {{
      numberInfo.otherMathematicalOperationsInfo.naturalLogarithm
        | number : "1.0-4"
    }}
  </p>
  <p>
    Logarithm Base Ten:
    {{
      numberInfo.otherMathematicalOperationsInfo.logarithmBaseTen
        | number : "1.0-4"
    }}
  </p>
</div>
