<h2>
  {{ "components.number-related.digit-based-operations.title" | translate }}
</h2>
<div>
  <p>
    {{
      "components.number-related.digit-based-operations.number-of-digits"
        | translate
    }}:
    {{ numberInfo.digitBasedOperationsInfo.numberOfDigits }}
  </p>
  <p>
    {{
      "components.number-related.digit-based-operations.sum-of-digits"
        | translate
    }}: {{ numberInfo.digitBasedOperationsInfo.digitSum }}
  </p>
  <p>
    {{
      "components.number-related.digit-based-operations.product-of-digits"
        | translate
    }}: {{ numberInfo.digitBasedOperationsInfo.digitProduct }}
  </p>
</div>
